<!doctype html>
<head>
    <title>{{msg}}</title>

    <h1>Registration Complete</h1>
</head>
<body>

    <table>
        <tr>
            <td>User Name</td>
            <td>{{register.userName}}</td>
        </tr>

        <tr>
            <td>User Name</td>
            <td>{{register.password}}</td>
        </tr>

        <tr>
            <td>User DOB</td>
            <td>{{register.userDOB}}</td>
        </tr>

        <tr>
            <td>User Interest</td>
            <td>{{register.userInterest}}</td>
        </tr>
    </table>


</body>
</html>