{{# section94}}
    <div id="tasks-table">
        {{# sectionA}} {{> register2.mustache}} {{/sectionA}}
    </div>
    <div class="form-group">
        {{# sectionB}} {{> login2.mustache}} {{/sectionB}}
    </div>
{{/ section94}}
